html,head,body,div{
	padding: 0;
	margin: 0;
}
body{
	background: #eee;
}
p{
	padding: 5px;
	margin: 0;
}
ul{
	list-style: none;
	padding:0;
	padding-left: 10px;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#header,#content,#footer{
	width: 900px;
	padding: 10px;
	margin:0 auto;
	clear: left;
	overflow: hidden;
}
#content{
	width:900px;
	padding:0;
	padding-top: 10px
}

/* ▼▼ header ▼▼ */
#header{
	background: #fff;
}
#logos{
	float: left;
	width: 500px;
}
#logos h1{
	font-size: 0.8rem;
}
#registerFlow{
	font-size: 0.8rem;
	text-align: right;
	margin: 0;
}
#loginForm {
	width: 360px;
	float: right;
}
#emailWrap,#passwordWrap{
	float: left;
	width: 150px;
}
#email,#password{
	border:0;
	padding: 2px;
	font-family:Arial, sans-serif;
	color:#aaa;
	border:solid 1px #ccc;
}
#send{
	background: #eee;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	color:#111;
	padding: 3px 10px;

}
#send{
	display: block;
	float:left;
	margin-top: 25px;
}
/* ▲▲ header ▲▲ */

/* ▼▼ maypage ▼▼ */
#userMenu{
	background: #fff;
	float: left;
	width:330px;
	padding: 10px;
}
#userMenu h2{

}
#history{
	background: #fff;
	float: left;
	margin-left: 10px;
	width:558px;
	padding: 10px;
}
#history h3{
	font-size: 1.2rem;
	padding: 0;
	margin: 0;
}
div.history{
	margin-top: 10px;
	padding:10px;
	background: #ffe5e5;
}
#editForm{
	display: none;
}
/* ▲▲ mypage ▲▲ */

/* ▼▼ footer ▼▼ */
#footer{
	overflow: hidden;
	color: #eee;
	text-align: center;
	background: #343434;
}
#footer a,
#footer a:visited{
	color:#eee;
}
#footer a:hover{
	color:#ddd;
}
#footerMenu {
	width: 660px;
	margin: 0 auto;
}
#footerMenu li{
	font-size: 0.8rem;
	float: left;
	margin: 5px;
	padding: 5px;
	width:110px;
}
#copy{
	font-size: 0.7rem;
	clear: left;
}
/* ▲▲ footer ▲▲ */
.ui-menu-item{
	max-width:200px;
	background: #fff;
	border: solid 1px #ffe5e5;
}
.ui-menu-item:hover{
	background: #ccc;
}
